In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("all_data.csv")

In [4]:
data.head()

,Unnamed: 0,opdb_id,is_machine,name,common_name,shortname,physical_machine,ipdb_id,manufacture_date,type,...,description,created_at,updated_at,images,manufacturer.manufacturer_id,manufacturer.name,manufacturer.full_name,manufacturer.created_at,manufacturer.updated_at,is_alias
0,0,G50L9-MDxXD,True,Challenger,NaN,NaN,1.0,483.0,1971-03-01,em,...,NaN,2018-03-11,2018-05-08,"[{'title': 'Backglass', 'primary': True, 'type...",2,Gottlieb,D. Gottlieb & Co.,2018-03-11,2018-03-11,NaN
1,1,GR7V3-MQPyL,True,Moon Shot,NaN,NaN,1.0,1628.0,1969-08-01,em,...,NaN,2018-03-11,2018-05-08,"[{'title': 'Backglass', 'primary': True, 'type...",3,Chicago Coin,Chicago Coin Machine Mfg. Co.,2018-03-11,2018-03-11,NaN
2,2,GRDlQ-MJ9yJ,True,Galaxy Play,NaN,NaN,1.0,4631.0,1986-01-01,ss,...,NaN,2018-03-11,2018-04-05,"[{'title': 'Backglass', 'primary': True, 'type...",4,Cic Play,Consolidated Industries Co.,2018-03-11,2018-03-11,NaN
3,3,G4xlK-MDEKL,True,Free Fall,NaN,NaN,1.0,949.0,1974-10-01,em,...,NaN,2018-03-11,2018-04-22,"[{'title': 'Backglass', 'primary': True, 'type...",2,Gottlieb,D. Gottlieb & Co.,2018-03-11,2018-03-11,NaN
4,4,G4Xdq-MLBlD,True,The 30's,NaN,NaN,1.0,2532.0,1977-01-04,em,...,NaN,2018-03-11,2022-06-02,"[{'title': 'Backglass', 'primary': True, 'type...",5,Playmatic,Playmatic,2018-03-11,2018-03-11,NaN

In [5]:
data.shape

(2069, 24)

In [6]:
data.columns

Index(['Unnamed: 0', 'opdb_id', 'is_machine', 'name', 'common_name',
       'shortname', 'physical_machine', 'ipdb_id', 'manufacture_date', 'type',
       'display', 'player_count', 'features', 'keywords', 'description',
       'created_at', 'updated_at', 'images', 'manufacturer.manufacturer_id',
       'manufacturer.name', 'manufacturer.full_name',
       'manufacturer.created_at', 'manufacturer.updated_at', 'is_alias'],
      dtype='object')

In [7]:
data = data.drop('Unnamed: 0', axis = 1)

In [8]:
data_copy = data.copy()

In [9]:
data_copy.head()

,opdb_id,is_machine,name,common_name,shortname,physical_machine,ipdb_id,manufacture_date,type,display,...,description,created_at,updated_at,images,manufacturer.manufacturer_id,manufacturer.name,manufacturer.full_name,manufacturer.created_at,manufacturer.updated_at,is_alias
0,G50L9-MDxXD,True,Challenger,NaN,NaN,1.0,483.0,1971-03-01,em,reels,...,NaN,2018-03-11,2018-05-08,"[{'title': 'Backglass', 'primary': True, 'type...",2,Gottlieb,D. Gottlieb & Co.,2018-03-11,2018-03-11,NaN
1,GR7V3-MQPyL,True,Moon Shot,NaN,NaN,1.0,1628.0,1969-08-01,em,reels,...,NaN,2018-03-11,2018-05-08,"[{'title': 'Backglass', 'primary': True, 'type...",3,Chicago Coin,Chicago Coin Machine Mfg. Co.,2018-03-11,2018-03-11,NaN
2,GRDlQ-MJ9yJ,True,Galaxy Play,NaN,NaN,1.0,4631.0,1986-01-01,ss,alphanumeric,...,NaN,2018-03-11,2018-04-05,"[{'title': 'Backglass', 'primary': True, 'type...",4,Cic Play,Consolidated Industries Co.,2018-03-11,2018-03-11,NaN
3,G4xlK-MDEKL,True,Free Fall,NaN,NaN,1.0,949.0,1974-10-01,em,reels,...,NaN,2018-03-11,2018-04-22,"[{'title': 'Backglass', 'primary': True, 'type...",2,Gottlieb,D. Gottlieb & Co.,2018-03-11,2018-03-11,NaN
4,G4Xdq-MLBlD,True,The 30's,NaN,NaN,1.0,2532.0,1977-01-04,em,reels,...,NaN,2018-03-11,2022-06-02,"[{'title': 'Backglass', 'primary': True, 'type...",5,Playmatic,Playmatic,2018-03-11,2018-03-11,NaN

In [10]:
ns = "[{'title': '-1', 'primary': True, 'type': 'backglass', 'urls': {'medium': 'https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d42251419868-medium.jpg', 'large': 'https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d42251419868-large.jpg', 'small': 'https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d42251419868-small.jpg'}, 'sizes': {'medium': {'width': 640, 'height': 445}, 'large': {'width': 640, 'height': 445}, 'small': {'width': 250, 'height': 174}}}]"

In [11]:
# how many empty lists do we have?
data_copy['images'].value_counts()[[0]]

252

In [12]:
data_copy = data_copy.replace({'images' : {'[]' : ns}})

In [13]:
data_copy['images'] = data_copy['images'].apply(eval)

In [14]:
data_copy.head()

,opdb_id,is_machine,name,common_name,shortname,physical_machine,ipdb_id,manufacture_date,type,display,...,description,created_at,updated_at,images,manufacturer.manufacturer_id,manufacturer.name,manufacturer.full_name,manufacturer.created_at,manufacturer.updated_at,is_alias
0,G50L9-MDxXD,True,Challenger,NaN,NaN,1.0,483.0,1971-03-01,em,reels,...,NaN,2018-03-11,2018-05-08,"[{'title': 'Backglass', 'primary': True, 'type...",2,Gottlieb,D. Gottlieb & Co.,2018-03-11,2018-03-11,NaN
1,GR7V3-MQPyL,True,Moon Shot,NaN,NaN,1.0,1628.0,1969-08-01,em,reels,...,NaN,2018-03-11,2018-05-08,"[{'title': 'Backglass', 'primary': True, 'type...",3,Chicago Coin,Chicago Coin Machine Mfg. Co.,2018-03-11,2018-03-11,NaN
2,GRDlQ-MJ9yJ,True,Galaxy Play,NaN,NaN,1.0,4631.0,1986-01-01,ss,alphanumeric,...,NaN,2018-03-11,2018-04-05,"[{'title': 'Backglass', 'primary': True, 'type...",4,Cic Play,Consolidated Industries Co.,2018-03-11,2018-03-11,NaN
3,G4xlK-MDEKL,True,Free Fall,NaN,NaN,1.0,949.0,1974-10-01,em,reels,...,NaN,2018-03-11,2018-04-22,"[{'title': 'Backglass', 'primary': True, 'type...",2,Gottlieb,D. Gottlieb & Co.,2018-03-11,2018-03-11,NaN
4,G4Xdq-MLBlD,True,The 30's,NaN,NaN,1.0,2532.0,1977-01-04,em,reels,...,NaN,2018-03-11,2022-06-02,"[{'title': 'Backglass', 'primary': True, 'type...",5,Playmatic,Playmatic,2018-03-11,2018-03-11,NaN

In [15]:
# find out inconsistencies in images column
index_fix = []
for i in range(1, len(data_copy)):
    if (len(data_copy['images'][i]) > 1):
        index_fix.append(i)

In [16]:
index_fix

[533, 595, 1040, 1077, 1449, 1803, 1810]

In [17]:
names = []
for i in index_fix:
    names.append(data_copy.iloc[i]['name'])

In [18]:
names

['Attila the Hun',
 'Creature from the Black Lagoon',
 'Volcano',
 'Top Score',
 'Star Trek (Premium)',
 'Star Wars (Pro)',
 'Guardians of the Galaxy']

In [19]:
for i in index_fix:
    data_copy['images'][i] = data_copy['images'][i][0]

<ipython-input-19-b21c985f28c2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_copy['images'][i] = data_copy['images'][i][0]

In [20]:
newdf = pd.json_normalize(data_copy['images'][0])
print(newdf.shape)
for i in range(1, len(data_copy)):
    convert_df = pd.json_normalize(data_copy['images'][i])
    newdf = pd.concat([newdf, convert_df])

(1, 12)

In [21]:
newdf.shape, newdf.columns

((2069, 12),
 Index(['title', 'primary', 'type', 'urls.medium', 'urls.large', 'urls.small',
        'sizes.medium.width', 'sizes.medium.height', 'sizes.large.width',
        'sizes.large.height', 'sizes.small.width', 'sizes.small.height'],
       dtype='object'))

In [22]:
newdf= newdf.rename(columns = {'type':'images.type'})

In [23]:
data_copy.shape

(2069, 23)

In [24]:
new_index = pd.Index(range(len(data_copy)))
newdf = newdf.set_index(new_index)
newdf

,title,primary,images.type,urls.medium,urls.large,urls.small,sizes.medium.width,sizes.medium.height,sizes.large.width,sizes.large.height,sizes.small.width,sizes.small.height
0,Backglass,True,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
1,Backglass,True,backglass,https://img.opdb.org/1f4c8baa-3263-45cc-9cdf-8...,https://img.opdb.org/1f4c8baa-3263-45cc-9cdf-8...,https://img.opdb.org/1f4c8baa-3263-45cc-9cdf-8...,640,603,765,721,250,236
2,Backglass,True,backglass,https://img.opdb.org/eb583dfc-cfc5-42fa-9459-e...,https://img.opdb.org/eb583dfc-cfc5-42fa-9459-e...,https://img.opdb.org/eb583dfc-cfc5-42fa-9459-e...,640,572,671,600,250,224
3,Backglass,True,backglass,https://img.opdb.org/0cc8604e-bc3b-4c7a-8e7b-6...,https://img.opdb.org/0cc8604e-bc3b-4c7a-8e7b-6...,https://img.opdb.org/0cc8604e-bc3b-4c7a-8e7b-6...,456,431,456,431,250,236
4,Backglass,True,backglass,https://img.opdb.org/58d069fe-f13d-4348-aaf2-8...,https://img.opdb.org/58d069fe-f13d-4348-aaf2-8...,https://img.opdb.org/58d069fe-f13d-4348-aaf2-8...,308,314,308,314,245,250
...,...,...,...,...,...,...,...,...,...,...,...,...
2064,-1,True,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
2065,-1,True,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
2066,-1,True,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
2067,-1,True,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
2068,-1,True,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174

In [25]:
df1 = pd.concat([data_copy,newdf], axis = 1)
df1.shape

(2069, 35)

In [26]:
df1 = df1.drop('images', axis = 1)
df1.shape

(2069, 34)

In [27]:
df1.columns

Index(['opdb_id', 'is_machine', 'name', 'common_name', 'shortname',
       'physical_machine', 'ipdb_id', 'manufacture_date', 'type', 'display',
       'player_count', 'features', 'keywords', 'description', 'created_at',
       'updated_at', 'manufacturer.manufacturer_id', 'manufacturer.name',
       'manufacturer.full_name', 'manufacturer.created_at',
       'manufacturer.updated_at', 'is_alias', 'title', 'primary',
       'images.type', 'urls.medium', 'urls.large', 'urls.small',
       'sizes.medium.width', 'sizes.medium.height', 'sizes.large.width',
       'sizes.large.height', 'sizes.small.width', 'sizes.small.height'],
      dtype='object')

In [28]:
format_rows = list(df1[df1['title'] == "-1"][newdf.columns].index)

In [29]:
df2 = df1.loc[format_rows].copy()

In [30]:
df1 = df1.drop(format_rows)

In [31]:
df1 = df1.set_index(pd.Index(range(len(df1))))
df1

,opdb_id,is_machine,name,common_name,shortname,physical_machine,ipdb_id,manufacture_date,type,display,...,images.type,urls.medium,urls.large,urls.small,sizes.medium.width,sizes.medium.height,sizes.large.width,sizes.large.height,sizes.small.width,sizes.small.height
0,G50L9-MDxXD,True,Challenger,NaN,NaN,1.0,483.0,1971-03-01,em,reels,...,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
1,GR7V3-MQPyL,True,Moon Shot,NaN,NaN,1.0,1628.0,1969-08-01,em,reels,...,backglass,https://img.opdb.org/1f4c8baa-3263-45cc-9cdf-8...,https://img.opdb.org/1f4c8baa-3263-45cc-9cdf-8...,https://img.opdb.org/1f4c8baa-3263-45cc-9cdf-8...,640,603,765,721,250,236
2,GRDlQ-MJ9yJ,True,Galaxy Play,NaN,NaN,1.0,4631.0,1986-01-01,ss,alphanumeric,...,backglass,https://img.opdb.org/eb583dfc-cfc5-42fa-9459-e...,https://img.opdb.org/eb583dfc-cfc5-42fa-9459-e...,https://img.opdb.org/eb583dfc-cfc5-42fa-9459-e...,640,572,671,600,250,224
3,G4xlK-MDEKL,True,Free Fall,NaN,NaN,1.0,949.0,1974-10-01,em,reels,...,backglass,https://img.opdb.org/0cc8604e-bc3b-4c7a-8e7b-6...,https://img.opdb.org/0cc8604e-bc3b-4c7a-8e7b-6...,https://img.opdb.org/0cc8604e-bc3b-4c7a-8e7b-6...,456,431,456,431,250,236
4,G4Xdq-MLBlD,True,The 30's,NaN,NaN,1.0,2532.0,1977-01-04,em,reels,...,backglass,https://img.opdb.org/58d069fe-f13d-4348-aaf2-8...,https://img.opdb.org/58d069fe-f13d-4348-aaf2-8...,https://img.opdb.org/58d069fe-f13d-4348-aaf2-8...,308,314,308,314,245,250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1812,GK17D-MKNKd-A15Yn,NaN,Jurassic Park (Premium),JP,JP,NaN,6574.0,2019-10-01,NaN,NaN,...,backglass,https://img.opdb.org/076433ba-52f0-47cf-9dda-f...,https://img.opdb.org/076433ba-52f0-47cf-9dda-f...,https://img.opdb.org/076433ba-52f0-47cf-9dda-f...,640,411,739,475,250,161
1813,GK17D-MKNKd-AOyKv,NaN,Jurassic Park (LE),JP,JP,NaN,6575.0,2019-09-01,NaN,NaN,...,backglass,https://img.opdb.org/783b8036-d92d-4a61-889d-1...,https://img.opdb.org/783b8036-d92d-4a61-889d-1...,https://img.opdb.org/783b8036-d92d-4a61-889d-1...,640,411,739,475,250,161
1814,Gzy89-M0oPy-A1zrL,NaN,Stranger Things (Premium),ST,ST,NaN,6643.0,2019-12-01,NaN,NaN,...,backglass,https://img.opdb.org/d607bdcb-40aa-4ab1-923c-3...,https://img.opdb.org/d607bdcb-40aa-4ab1-923c-3...,https://img.opdb.org/d607bdcb-40aa-4ab1-923c-3...,640,416,1500,974,250,162
1815,Gzy89-M0oPy-A9xXV,NaN,Stranger Things (LE),ST,ST,NaN,6644.0,2019-12-01,NaN,NaN,...,backglass,https://img.opdb.org/32d25c1d-3d71-43c8-8539-7...,https://img.opdb.org/32d25c1d-3d71-43c8-8539-7...,https://img.opdb.org/32d25c1d-3d71-43c8-8539-7...,640,416,1500,974,250,162
1816,Gd2Xb-MRjpZ-A92v0,NaN,Teenage Mutant Ninja Turtles (LE),TMNT,TMNT,NaN,6732.0,2020-06-01,NaN,NaN,...,backglass,https://img.opdb.org/6918ece8-4ac4-4d53-93a9-3...,https://img.opdb.org/6918ece8-4ac4-4d53-93a9-3...,https://img.opdb.org/6918ece8-4ac4-4d53-93a9-3...,640,414,1500,971,250,162

In [32]:
df2 = df2.set_index(pd.Index(range(len(df1), len(df1) + len(df2))))
df2

,opdb_id,is_machine,name,common_name,shortname,physical_machine,ipdb_id,manufacture_date,type,display,...,images.type,urls.medium,urls.large,urls.small,sizes.medium.width,sizes.medium.height,sizes.large.width,sizes.large.height,sizes.small.width,sizes.small.height
1817,G5ow6-MQNYn,True,Invader Ball,NaN,NaN,1.0,4379.0,1980-01-01,ss,cga,...,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
1818,Gryqo-MDbPN,True,Beauty Queens,NaN,NaN,1.0,218.0,1960-02-01,em,reels,...,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
1819,GrEEy-MQ5pv,True,Fortune,NaN,NaN,1.0,4380.0,1972-01-01,em,reels,...,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
1820,GRpee-MJkyr,True,Bride of Pinbot 2.0,NaN,BOP2.0,1.0,6319.0,2014-11-01,ss,dmd,...,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
1821,G43j1-MJj12,True,Grand Slam,NaN,NaN,1.0,4389.0,1972-01-01,em,reels,...,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2064,Gj6PZ-Mb5z6-A9Lbd,NaN,Galactic Tank Force (LE),NaN,NaN,NaN,NaN,2023-03-22,NaN,NaN,...,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
2065,Gj6PZ-Mb5z6-A183b,NaN,Galactic Tank Force (Signature),NaN,NaN,NaN,NaN,2023-03-22,NaN,NaN,...,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
2066,G8lwL-MjBXp-A1r7z,NaN,Punny Factory (Engraved),NaN,NaN,NaN,NaN,2023-06-10,NaN,NaN,...,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
2067,G3EBl-MRj6e-AOVkD,NaN,Venom (Premium),NaN,NaN,NaN,NaN,2023-07-15,NaN,NaN,...,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174
2068,G3EBl-MRj6e-ARzbx,NaN,Venom (LE),NaN,NaN,NaN,NaN,2023-07-15,NaN,NaN,...,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640,445,640,445,250,174

In [33]:
df2_1 = df2[newdf.columns].copy()

In [34]:
df2 = df2.drop(newdf.columns, axis = 1)

In [35]:
df2_1[:] = np.nan

In [36]:
df2 = pd.concat([df2, df2_1], axis = 1)

In [37]:
clean_data = pd.concat([df1,df2])
clean_data

,opdb_id,is_machine,name,common_name,shortname,physical_machine,ipdb_id,manufacture_date,type,display,...,images.type,urls.medium,urls.large,urls.small,sizes.medium.width,sizes.medium.height,sizes.large.width,sizes.large.height,sizes.small.width,sizes.small.height
0,G50L9-MDxXD,True,Challenger,NaN,NaN,1.0,483.0,1971-03-01,em,reels,...,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640.0,445.0,640.0,445.0,250.0,174.0
1,GR7V3-MQPyL,True,Moon Shot,NaN,NaN,1.0,1628.0,1969-08-01,em,reels,...,backglass,https://img.opdb.org/1f4c8baa-3263-45cc-9cdf-8...,https://img.opdb.org/1f4c8baa-3263-45cc-9cdf-8...,https://img.opdb.org/1f4c8baa-3263-45cc-9cdf-8...,640.0,603.0,765.0,721.0,250.0,236.0
2,GRDlQ-MJ9yJ,True,Galaxy Play,NaN,NaN,1.0,4631.0,1986-01-01,ss,alphanumeric,...,backglass,https://img.opdb.org/eb583dfc-cfc5-42fa-9459-e...,https://img.opdb.org/eb583dfc-cfc5-42fa-9459-e...,https://img.opdb.org/eb583dfc-cfc5-42fa-9459-e...,640.0,572.0,671.0,600.0,250.0,224.0
3,G4xlK-MDEKL,True,Free Fall,NaN,NaN,1.0,949.0,1974-10-01,em,reels,...,backglass,https://img.opdb.org/0cc8604e-bc3b-4c7a-8e7b-6...,https://img.opdb.org/0cc8604e-bc3b-4c7a-8e7b-6...,https://img.opdb.org/0cc8604e-bc3b-4c7a-8e7b-6...,456.0,431.0,456.0,431.0,250.0,236.0
4,G4Xdq-MLBlD,True,The 30's,NaN,NaN,1.0,2532.0,1977-01-04,em,reels,...,backglass,https://img.opdb.org/58d069fe-f13d-4348-aaf2-8...,https://img.opdb.org/58d069fe-f13d-4348-aaf2-8...,https://img.opdb.org/58d069fe-f13d-4348-aaf2-8...,308.0,314.0,308.0,314.0,245.0,250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2064,Gj6PZ-Mb5z6-A9Lbd,NaN,Galactic Tank Force (LE),NaN,NaN,NaN,NaN,2023-03-22,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2065,Gj6PZ-Mb5z6-A183b,NaN,Galactic Tank Force (Signature),NaN,NaN,NaN,NaN,2023-03-22,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2066,G8lwL-MjBXp-A1r7z,NaN,Punny Factory (Engraved),NaN,NaN,NaN,NaN,2023-06-10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2067,G3EBl-MRj6e-AOVkD,NaN,Venom (Premium),NaN,NaN,NaN,NaN,2023-07-15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2068,G3EBl-MRj6e-ARzbx,NaN,Venom (LE),NaN,NaN,NaN,NaN,2023-07-15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
clean_data['manufacture_date'] = pd.to_datetime(clean_data['manufacture_date'])

In [39]:
clean_data['keywords'] = clean_data['keywords'].apply(eval)
clean_data['features'] = clean_data['features'].apply(eval)

In [40]:
def join(x):
    if len(x) > 0:
        word = ""
        for i in range(len(x)):
            word = word + x[i] + " "
        return word
    else:
        return np.nan

In [41]:
clean_data['keywords'] = clean_data['keywords'].apply(join)
clean_data['features'] = clean_data['features'].apply(join)

In [42]:
clean_data['keywords'].value_counts()

movie                          82
tv                             27
music                          22
cards                          15
video-games                    11
street-level                    6
licensed music                  5
monster movie                   4
monster                         3
board-game time-travel          1
geriatric safari-adventure      1
movie tv                        1
licensed                        1
poker                           1
cards poker                     1
Name: keywords, dtype: int64

In [43]:
clean_data['features'].value_counts()

Add-a-ball                           132
Replay                                84
Widebody                              80
Limited edition                       79
Conversion kit                        51
Pro edition                           50
Premium edition                       36
Cocktail table                        29
Home model                            19
Limited edition Premium edition       14
Remake                                 9
Limited edition Widebody               9
Head-to-head play                      8
Converted game                         6
Add-a-ball Replay                      6
Limited edition Remake                 5
Pro edition Widebody                   4
Vault edition                          2
Premium edition Remake                 2
Premium edition Vault edition          2
Pro edition Vault edition              2
Replay Widebody                        1
Export edition                         1
Cocktail table Head-to-head play       1
Converted game Widebody                1
Limited edition Pro edition            1
Conversion kit Widebody                1
Name: features, dtype: int64

In [44]:
clean_data['description'].value_counts()

Originally built without flippers, but flippers have been retrofitted on many games.          1
This is a toy machine sized for a doll. It is much smaller than a regular pinball machine.    1
Converted Star Wars home pin                                                                  1
Rethemed "Earthshaker"                                                                        1
Name: description, dtype: int64

In [45]:
clean_data.columns = ['opdb_id', 'is_machine', 'name', 'common_name', 'shortname',
       'physical_machine', 'ipdb_id', 'manufacture_date', 'type', 'display',
       'player_count', 'features', 'keywords', 'description', 'created_at',
       'updated_at', 'manufacturer_id', 'manufacturer_name',
       'manufacturer_full_name', 'manufacturer_created_at',
       'manufacturer_updated_at', 'is_alias', 'title', 'primary',
       'images_type', 'urls_medium', 'urls_large', 'urls_small',
       'sizes_medium_width', 'sizes_medium_height', 'sizes_large_width',
       'sizes_large_height', 'sizes_small_width', 'sizes_small_height']

In [46]:
clean_data

,opdb_id,is_machine,name,common_name,shortname,physical_machine,ipdb_id,manufacture_date,type,display,...,images_type,urls_medium,urls_large,urls_small,sizes_medium_width,sizes_medium_height,sizes_large_width,sizes_large_height,sizes_small_width,sizes_small_height
0,G50L9-MDxXD,True,Challenger,NaN,NaN,1.0,483.0,1971-03-01,em,reels,...,backglass,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,https://img.opdb.org/46a61cc7-8a85-4483-bc7c-d...,640.0,445.0,640.0,445.0,250.0,174.0
1,GR7V3-MQPyL,True,Moon Shot,NaN,NaN,1.0,1628.0,1969-08-01,em,reels,...,backglass,https://img.opdb.org/1f4c8baa-3263-45cc-9cdf-8...,https://img.opdb.org/1f4c8baa-3263-45cc-9cdf-8...,https://img.opdb.org/1f4c8baa-3263-45cc-9cdf-8...,640.0,603.0,765.0,721.0,250.0,236.0
2,GRDlQ-MJ9yJ,True,Galaxy Play,NaN,NaN,1.0,4631.0,1986-01-01,ss,alphanumeric,...,backglass,https://img.opdb.org/eb583dfc-cfc5-42fa-9459-e...,https://img.opdb.org/eb583dfc-cfc5-42fa-9459-e...,https://img.opdb.org/eb583dfc-cfc5-42fa-9459-e...,640.0,572.0,671.0,600.0,250.0,224.0
3,G4xlK-MDEKL,True,Free Fall,NaN,NaN,1.0,949.0,1974-10-01,em,reels,...,backglass,https://img.opdb.org/0cc8604e-bc3b-4c7a-8e7b-6...,https://img.opdb.org/0cc8604e-bc3b-4c7a-8e7b-6...,https://img.opdb.org/0cc8604e-bc3b-4c7a-8e7b-6...,456.0,431.0,456.0,431.0,250.0,236.0
4,G4Xdq-MLBlD,True,The 30's,NaN,NaN,1.0,2532.0,1977-01-04,em,reels,...,backglass,https://img.opdb.org/58d069fe-f13d-4348-aaf2-8...,https://img.opdb.org/58d069fe-f13d-4348-aaf2-8...,https://img.opdb.org/58d069fe-f13d-4348-aaf2-8...,308.0,314.0,308.0,314.0,245.0,250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2064,Gj6PZ-Mb5z6-A9Lbd,NaN,Galactic Tank Force (LE),NaN,NaN,NaN,NaN,2023-03-22,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2065,Gj6PZ-Mb5z6-A183b,NaN,Galactic Tank Force (Signature),NaN,NaN,NaN,NaN,2023-03-22,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2066,G8lwL-MjBXp-A1r7z,NaN,Punny Factory (Engraved),NaN,NaN,NaN,NaN,2023-06-10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2067,G3EBl-MRj6e-AOVkD,NaN,Venom (Premium),NaN,NaN,NaN,NaN,2023-07-15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2068,G3EBl-MRj6e-ARzbx,NaN,Venom (LE),NaN,NaN,NaN,NaN,2023-07-15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
clean_data.to_csv('cln_pb.csv')