In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("/Users/amayjain/Documents/Portfolio/Pinball/Data/locations_machines_attributes.csv")

In [14]:
df.shape

(7149, 26)

In [18]:
df.head()

,Unnamed: 0,id,name,street,city,state,zip,phone,lat,lon,...,description,operator_id,date_last_updated,last_updated_by_user_id,is_stern_army,country,ic_active,last_updated_by_username,num_machines,location_machine_xrefs
0,0,14771,Adult Emporium,5101 Convoy St,San Diego,CA,92111,858-874-2317,32.834710,-117.152165,...,NaN,NaN,2022-05-11,5762.0,NaN,US,NaN,techagogo,2,"[{'id': 86276, 'created_at': '2020-08-26T11:11..."
1,1,19103,Ballast Point,5401 Linda Vista Rd,San Diego,CA,92110,NaN,32.766716,-117.195264,...,NaN,NaN,2023-01-07,NaN,NaN,US,NaN,NaN,2,"[{'id': 122484, 'created_at': '2023-01-07T12:4..."
2,2,19489,Belching Beaver,4223 30th St,San Diego,CA,92104,NaN,32.754575,-117.130059,...,NaN,NaN,2023-05-12,25052.0,NaN,US,NaN,freakyzekey,2,"[{'id': 128710, 'created_at': '2023-04-16T14:4..."
3,3,15893,Black Plague Brewing,2550 Jason Ct,Oceanside,CA,92056,760-631-8110,33.215612,-117.266739,...,NaN,NaN,2021-07-19,NaN,NaN,US,NaN,NaN,1,"[{'id': 96587, 'created_at': '2021-07-19T19:28..."
4,4,15298,Bottle Rocket Bar and Grill,805 16th St,San Diego,CA,92101,(619) 539-7372,32.713857,-117.149247,...,NaN,130.0,2022-11-19,3396.0,NaN,US,NaN,bestbrad,2,"[{'id': 109774, 'created_at': '2022-05-01T19:2..."

In [19]:
df = df.drop('Unnamed: 0', axis = 1)

In [20]:
df.head()

,id,name,street,city,state,zip,phone,lat,lon,website,...,description,operator_id,date_last_updated,last_updated_by_user_id,is_stern_army,country,ic_active,last_updated_by_username,num_machines,location_machine_xrefs
0,14771,Adult Emporium,5101 Convoy St,San Diego,CA,92111,858-874-2317,32.834710,-117.152165,NaN,...,NaN,NaN,2022-05-11,5762.0,NaN,US,NaN,techagogo,2,"[{'id': 86276, 'created_at': '2020-08-26T11:11..."
1,19103,Ballast Point,5401 Linda Vista Rd,San Diego,CA,92110,NaN,32.766716,-117.195264,NaN,...,NaN,NaN,2023-01-07,NaN,NaN,US,NaN,NaN,2,"[{'id': 122484, 'created_at': '2023-01-07T12:4..."
2,19489,Belching Beaver,4223 30th St,San Diego,CA,92104,NaN,32.754575,-117.130059,NaN,...,NaN,NaN,2023-05-12,25052.0,NaN,US,NaN,freakyzekey,2,"[{'id': 128710, 'created_at': '2023-04-16T14:4..."
3,15893,Black Plague Brewing,2550 Jason Ct,Oceanside,CA,92056,760-631-8110,33.215612,-117.266739,https://blackplaguebrewing.com/,...,NaN,NaN,2021-07-19,NaN,NaN,US,NaN,NaN,1,"[{'id': 96587, 'created_at': '2021-07-19T19:28..."
4,15298,Bottle Rocket Bar and Grill,805 16th St,San Diego,CA,92101,(619) 539-7372,32.713857,-117.149247,https://www.instagram.com/bottlerocketsd/,...,NaN,130.0,2022-11-19,3396.0,NaN,US,NaN,bestbrad,2,"[{'id': 109774, 'created_at': '2022-05-01T19:2..."

In [40]:
# 16 rows have 0 machines
# empty [] in location_machine_xrefs
df['location_machine_xrefs'].value_counts()[[0]]

[]    16
Name: location_machine_xrefs, dtype: int64

In [36]:
delete_indices = list(df[df['location_machine_xrefs'] == '[]'].index)
delete_indices

[664,
 984,
 1117,
 2753,
 3396,
 3785,
 3805,
 5210,
 5868,
 5928,
 6271,
 6309,
 6315,
 6770,
 6936,
 6970]

In [41]:
df = df.drop(delete_indices)

In [42]:
df.shape

(7133, 25)

In [51]:
df.index = range(len(df))

In [56]:
machines = df['location_machine_xrefs'].copy()

In [59]:
df.drop(['location_machine_xrefs'], axis = 1, inplace= True)

In [63]:
machines = machines.apply(eval)

In [68]:
baseline = pd.json_normalize(machines[0])
baseline

,id,created_at,updated_at,location_id,machine_id,ic_enabled,machine.id,machine.name,machine.updated_at,machine.ipdb_link,machine.year,machine.manufacturer,machine.machine_group_id,machine.ipdb_id,machine.opdb_id
0,86276,2020-08-26T11:11:49.705-07:00,2020-08-26T11:11:49.705-07:00,14771,732,None,732,Black Rose,2023-01-17T10:44:24.205-08:00,http://ipdb.org/machine.cgi?id=313,1992,Bally,None,313,G5vZd-MQpWZ
1,86275,2020-08-26T11:11:49.633-07:00,2022-05-11T22:22:08.432-07:00,14771,768,None,768,Lethal Weapon 3,2023-01-17T10:44:24.754-08:00,http://ipdb.org/machine.cgi?id=1433,1992,Data East,None,1433,GRokL-MQP78

In [70]:
store = []
store.append(baseline)

In [71]:
for i in range(1, len(machines)):
    store.append(pd.json_normalize(machines[i]))

In [72]:
all_machines = pd.concat(store)

In [73]:
all_machines

,id,created_at,updated_at,location_id,machine_id,ic_enabled,machine.id,machine.name,machine.updated_at,machine.ipdb_link,machine.year,machine.manufacturer,machine.machine_group_id,machine.ipdb_id,machine.opdb_id
0,86276,2020-08-26T11:11:49.705-07:00,2020-08-26T11:11:49.705-07:00,14771,732,None,732,Black Rose,2023-01-17T10:44:24.205-08:00,http://ipdb.org/machine.cgi?id=313,1992,Bally,None,313,G5vZd-MQpWZ
1,86275,2020-08-26T11:11:49.633-07:00,2022-05-11T22:22:08.432-07:00,14771,768,None,768,Lethal Weapon 3,2023-01-17T10:44:24.754-08:00,http://ipdb.org/machine.cgi?id=1433,1992,Data East,None,1433,GRokL-MQP78
0,122484,2023-01-07T12:43:35.498-08:00,2023-01-07T12:43:35.498-08:00,19103,682,None,682,The Simpsons Pinball Party,2023-01-17T10:44:30.444-08:00,http://ipdb.org/machine.cgi?id=4674,2003,Stern,NaN,4674,GRvBL-MP3Ev
1,122485,2023-01-07T12:43:35.515-08:00,2023-01-07T12:43:35.515-08:00,19103,2353,None,2353,Kiss,2023-01-17T10:44:29.463-08:00,http://ipdb.org/machine.cgi?id=6265,2015,Stern,21.0,6265,G4qX5-Mz2Pp
0,128710,2023-04-16T14:49:14.751-07:00,2023-04-16T18:01:50.208-07:00,19489,3023,None,3023,Deadpool (Premium),2023-04-18T20:05:07.590-07:00,https://www.ipdb.org/machine.cgi?id=6559,2018,Stern,70,6559,G6lnq-MRj7Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,137000,2023-08-19T13:27:41.961-07:00,2023-08-19T13:27:41.961-07:00,17412,1179,None,1179,Transformers (LE),2023-01-17T10:44:28.233-08:00,http://ipdb.org/machine.cgi?id=5753,2011,Stern,14,5753.0,GRnPz-Mx0XO
4,136999,2023-08-19T13:27:08.071-07:00,2023-08-19T13:27:08.071-07:00,17412,3226,None,3226,Stranger Things (Pro),2023-04-18T20:05:51.189-07:00,https://www.ipdb.org/machine.cgi?id=6642,2019,Stern,80,6642.0,Gzy89-MNEeO
0,71446,2019-07-22T06:47:27.622-07:00,2019-07-22T06:47:27.622-07:00,11629,689,None,689,White Water,2023-01-17T10:44:28.888-08:00,http://ipdb.org/machine.cgi?id=2768,1993,Williams,None,2768,GRQKz-MyNXz
0,85391,2020-07-17T22:47:41.393-07:00,2020-07-17T22:47:41.393-07:00,14676,682,None,682,The Simpsons Pinball Party,2023-01-17T10:44:30.444-08:00,http://ipdb.org/machine.cgi?id=4674,2003,Stern,None,4674,GRvBL-MP3Ev
1,85392,2020-07-17T22:47:41.416-07:00,2020-07-17T22:47:41.416-07:00,14676,676,None,676,Pirates of the Caribbean,2023-01-17T10:44:27.618-08:00,http://ipdb.org/machine.cgi?id=5163,2006,Stern,None,5163,GR7ZX-MQ23b

In [76]:
all_machines.index = range(len(all_machines))

In [79]:
all_machines.columns = ['id', 'created_at', 'updated_at', 'location_id', 'machine_id',
       'ic_enabled', 'machine_id', 'machine_name', 'machine_updated_at',
       'machine_ipdb_link', 'machine_year', 'machine_manufacturer',
       'machine_machine_group_id', 'machine_ipdb_id', 'machine_opdb_id']

In [90]:
all_machines

,id,created_at,updated_at,location_id,machine_id,ic_enabled,machine_id,machine_name,machine_updated_at,machine_ipdb_link,machine_year,machine_manufacturer,machine_machine_group_id,machine_ipdb_id,machine_opdb_id
0,86276,2020-08-26T11:11:49.705-07:00,2020-08-26T11:11:49.705-07:00,14771,732,None,732,Black Rose,2023-01-17T10:44:24.205-08:00,http://ipdb.org/machine.cgi?id=313,1992,Bally,None,313,G5vZd-MQpWZ
1,86275,2020-08-26T11:11:49.633-07:00,2022-05-11T22:22:08.432-07:00,14771,768,None,768,Lethal Weapon 3,2023-01-17T10:44:24.754-08:00,http://ipdb.org/machine.cgi?id=1433,1992,Data East,None,1433,GRokL-MQP78
2,122484,2023-01-07T12:43:35.498-08:00,2023-01-07T12:43:35.498-08:00,19103,682,None,682,The Simpsons Pinball Party,2023-01-17T10:44:30.444-08:00,http://ipdb.org/machine.cgi?id=4674,2003,Stern,NaN,4674,GRvBL-MP3Ev
3,122485,2023-01-07T12:43:35.515-08:00,2023-01-07T12:43:35.515-08:00,19103,2353,None,2353,Kiss,2023-01-17T10:44:29.463-08:00,http://ipdb.org/machine.cgi?id=6265,2015,Stern,21.0,6265,G4qX5-Mz2Pp
4,128710,2023-04-16T14:49:14.751-07:00,2023-04-16T18:01:50.208-07:00,19489,3023,None,3023,Deadpool (Premium),2023-04-18T20:05:07.590-07:00,https://www.ipdb.org/machine.cgi?id=6559,2018,Stern,70,6559,G6lnq-MRj7Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28177,137000,2023-08-19T13:27:41.961-07:00,2023-08-19T13:27:41.961-07:00,17412,1179,None,1179,Transformers (LE),2023-01-17T10:44:28.233-08:00,http://ipdb.org/machine.cgi?id=5753,2011,Stern,14,5753.0,GRnPz-Mx0XO
28178,136999,2023-08-19T13:27:08.071-07:00,2023-08-19T13:27:08.071-07:00,17412,3226,None,3226,Stranger Things (Pro),2023-04-18T20:05:51.189-07:00,https://www.ipdb.org/machine.cgi?id=6642,2019,Stern,80,6642.0,Gzy89-MNEeO
28179,71446,2019-07-22T06:47:27.622-07:00,2019-07-22T06:47:27.622-07:00,11629,689,None,689,White Water,2023-01-17T10:44:28.888-08:00,http://ipdb.org/machine.cgi?id=2768,1993,Williams,None,2768,GRQKz-MyNXz
28180,85391,2020-07-17T22:47:41.393-07:00,2020-07-17T22:47:41.393-07:00,14676,682,None,682,The Simpsons Pinball Party,2023-01-17T10:44:30.444-08:00,http://ipdb.org/machine.cgi?id=4674,2003,Stern,None,4674,GRvBL-MP3Ev
28181,85392,2020-07-17T22:47:41.416-07:00,2020-07-17T22:47:41.416-07:00,14676,676,None,676,Pirates of the Caribbean,2023-01-17T10:44:27.618-08:00,http://ipdb.org/machine.cgi?id=5163,2006,Stern,None,5163,GR7ZX-MQ23b

In [91]:
df

,id,name,street,city,state,zip,phone,lat,lon,website,...,location_type_id,description,operator_id,date_last_updated,last_updated_by_user_id,is_stern_army,country,ic_active,last_updated_by_username,num_machines
0,14771,Adult Emporium,5101 Convoy St,San Diego,CA,92111,858-874-2317,32.834710,-117.152165,NaN,...,20.0,NaN,NaN,2022-05-11,5762.0,NaN,US,NaN,techagogo,2
1,19103,Ballast Point,5401 Linda Vista Rd,San Diego,CA,92110,NaN,32.766716,-117.195264,NaN,...,62.0,NaN,NaN,2023-01-07,NaN,NaN,US,NaN,NaN,2
2,19489,Belching Beaver,4223 30th St,San Diego,CA,92104,NaN,32.754575,-117.130059,NaN,...,4.0,NaN,NaN,2023-05-12,25052.0,NaN,US,NaN,freakyzekey,2
3,15893,Black Plague Brewing,2550 Jason Ct,Oceanside,CA,92056,760-631-8110,33.215612,-117.266739,https://blackplaguebrewing.com/,...,62.0,NaN,NaN,2021-07-19,NaN,NaN,US,NaN,NaN,1
4,15298,Bottle Rocket Bar and Grill,805 16th St,San Diego,CA,92101,(619) 539-7372,32.713857,-117.149247,https://www.instagram.com/bottlerocketsd/,...,14.0,NaN,130.0,2022-11-19,3396.0,NaN,US,NaN,bestbrad,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7128,19524,Verkkokauppa.com,Tyynenmerenkatu 11,Helsinki,NaN,00220,NaN,60.156217,24.920573,https://www.verkkokauppa.com,...,20.0,"Electronics store, which has a small free play...",328.0,2023-08-30,6848.0,NaN,FI,False,pinballboys,4
7129,14488,Viihdekeskus ZBase,Itäinenkatu 9,Tampere,NaN,33210,+358503452810,61.500954,23.759031,http://zbase.fi,...,1.0,NaN,NaN,2021-06-21,15028.0,NaN,FI,NaN,reprocade,2
7130,17412,Viiskulma,Tarkk'ampujankatu 20,Helsinki,NaN,00150,044 9016509,60.160699,24.942255,http://www.viiskulmaravintola.fi/,...,4.0,NaN,328.0,2023-09-05,8024.0,NaN,FI,True,b.u.g.,5
7131,11629,Wanha Mestari - Lahden keskusta,Aleksanterinkatu 23,Lahti,NaN,15110,NaN,60.982504,25.661006,https://www.wanhamestari.fi/lahti-keskusta-wan...,...,14.0,Opening hours (last checked February 10th 2019...,NaN,2019-07-22,6644.0,NaN,FI,NaN,benroimola,1
7132,14676,Zones Ideapark,Ideaparkinkatu 4,Lempäälä,NaN,37570,NaN,61.361542,23.795146,https://zonesideapark.fi/,...,42.0,NaN,NaN,2020-07-17,NaN,NaN,FI,NaN,NaN,2

In [92]:
df.to_csv("all_regions.csv")
all_machines.to_csv("all_machines.csv")